<section id="pantalla">
    <section id="contactContainer">
        <span id="listC" class="letramediana">Contactos</span>
        <input type="text" placeholder="Buscar Contacto. . .">
    
        <div id="contStock">
            <img id="pCont"src="../../../assets/stock.jpg">
            <div id="message">
                <span class="nito">{{nombre}}</span>
                <span class="letrapequena">{{mensaje}}</span>
            </div>
        </div>

        <div id="contStock">
            <img id="pCont"src="../../../assets/stock.jpg">
            <div id="message">
                <span class="nito">{{nombre}}</span>
                <span class="letrapequena">{{mensaje}}</span>
            </div>
        </div>

        <div id="contStock">
            <img id="pCont"src="../../../assets/stock.jpg">
            <div id="message">
                <span class="nito">{{nombre}}</span>
                <span class="letrapequena">{{mensaje}}</span>
            </div>
        </div>

        <div id="contStock">
            <img id="pCont"src="../../../assets/stock.jpg">
            <div id="message">
                <span class="nito">{{nombre}}</span>
                <span class="letrapequena">{{mensaje}}</span>
            </div>
        </div>

        <div id="contStock">
            <img id="pCont"src="../../../assets/stock.jpg">
            <div id="message">
                <span class="nito">{{nombre}}</span>
                <span class="letrapequena">{{mensaje}}</span>
            </div>
        </div>
        
    </section>
    <section id="chatContainer">
        <div id="mensajes">
            <span id="primero">{{prMessage}}</span>
            <span id="segundo">{{seMessage}}</span>
        </div>
        <div id="textBox">
            <textarea></textarea><button id="envio"><img id="sendIco" src="../../../assets/send.png" alt=""></button>
        </div>
    </section>
    <section id="perfil">
        <img src="../../../assets/stock.jpg" id="photoProfile">
        <span id="pInfo" class="letragrande nito">{{nombre}}</span>
        <span id="pInfo" class="letrapequena letrasombra">{{career}}</span>
        <button id="seeProfile" class="letraPerfil">Ver Perfil</button>
        <button id="soli" class="letraPerfil">Agregar/Aceptar Solicitud</button>
    </section>
</section>